* {
  box-sizing: border-box;
}

/* .tick line {
  opacity: .1;
} */

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

#chart {
  background: #0e3040;
  color: white;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}